# JetBrains cruft
.idea

# CMake cruft
cmake-build-debug-event-trace
cmake-build-debug
Makefile
CMakeFiles
CORDA-P2P-CPP.cbp
*.cmake
CMakeCache.txt
Testing/
cmake-ide
cmake_install.cmake
Testing
_deps
